{% load i18n %}
{% load static %}

<html>
{% language 'fa' %}
    <head>
        <title>
            {% block title %}Base template {% endblock %}
        </title>

        <link rel="stylesheet" type="text/css" href="{% static "blogStatic/css/backEnd/base.css" %}">
        <script src="{% static "blogStatic/js/base.js" %}"></script>
        {% block script %}
        {% endblock %}
  

	
    </head>
    <body>
        <p>{% trans "Hi" %}, {{ user.username }}.</p>
        <p><a href="/administrator/logout">{% trans "Logout" %}</a></p>
        <div id="page">
            <div id="toparea">
                <!--<img src="{% static "assets/images/test.png" %}" id="logo" >-->
                {% block toparea%}{% endblock %}
            </div>

            <div id="mainSidebar">
                <ul>
                    <li><a href="/administrator/articles/all">{% trans "Articles" %}</a></li>
                    <li><a href="/administrator/comments/all">{% trans "Comments" %}</a></li>
                    <li><a href="/administrator/categories/all">{% trans "Categories" %}</a></li>
                    <li><a href="/administrator/profile">{% trans "Profile" %}</a></li>
		            <li><a href="/administrator/search">{% trans "Search" %}</a></li>
                    <li><a href="/">{% trans "frontEnd" %}</a></li>
                </ul>
                {% block mainSidebar%}
                {% endblock %}
            </div>

            <div id="content">
                <h1>{{ log }}</h1>
                {% block content %}{% endblock %}
            </div>

            <div id="sidebar">
                {% block sidebar%}
                {% endblock %}
            </div>

        </div>
    </body>
{% endlanguage %}
</html>

