{% extends "frontEnd/base.html" %}
{% block title %} Articles {% endblock %}
{% block toparea %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{%block content%}
<h2> The language is :{{language}} </h2>
<h2> The session_language is :{{session_language}} </h2>
{% if articles.count > 0 %}
<h1> Articles : </h1>
{% for article in articles %}
<div>
<hr width = 60% >
<h2><a href="/articles/get/{{article.id}}/">{{article.title}}</a></h2>
<p>{{ article.body|removetags:"b strong h1 h2 h3 h4"|truncatewords_html:3|safe }}</p> <!-- safe > for html render , truncatewords_html > convert to summary  -->
</div>
{% endfor %}
{% else %}
<h1> No articles </h1>
{% endif%}
{% endblock %}
