{% extends "blog/backEnd/base.html" %}
{% load static %}
{% block title %}{{article.title}}{% endblock %}
{% block script %}
<script src="{% static "static/js/article.js" %}"></script>
{% endblock %}
{% block sidebar %}
    <ul>
	    <hr width = 75%>
	    <li><a href="/administrator/articles/edit/{{article.id}}">Edit</a></li>
        <li><a href="/administrator/articles/del/{{article.id}}">Delete</a></li> {% comment %}maybe this process have security bug must be ajax {% endcomment %}
    </ul>
{% endblock %}
{% block content %}
    <h1>{{article.title}} </h1>
    <p> {{article.body|safe}} </p>
    <h5> Published date: {{article.pub_date}} </h5>
    {% comment %}
    <p id="likesTag">{{article.likes}} poeple liked this article</p>
    {% endcomment %}
    <hr width = 75%>
    <div>
        {% if categories.count > 0 %}
        <h4>categories:</h4>
        {% for category in categories %}
            <p> {{ category.title }} </p>
        {% endfor %}
        {% else %}
        <h4>No category!</h4>
    {% endif %}
    </div>
{% endblock %}

