{% extends "blog/backEnd/base.html" %}
{% load i18n %}
{% block title %} {% trans "Articles" %} {% endblock %}
{% block toparea %}
{% endblock %}

{% block sidebar %}
	<ul>
		<li><a href="/administrator/articles/articleCreate">{% trans "Create new article" %}</a></li>
	</ul>
{% endblock %}

{%block content%}
    {% if articles.count > 0 %}
        <h1> {% trans "Articles" %} : </h1>

        <form method="POST">{% csrf_token %}
            {% for article in articles %}
                <div>
                    <h2><a href="/administrator/articles/get/{{article.id}}/">{{article.title}}</a></h2><input type="checkbox" name="articleIdCheckes" value="{{ article.id }}"/>
                </div>

            {% endfor %}
           <div id="submit"><input type="submit" value="{% trans "Delete" %}" name="deleteButton"></div>
           <div id="submit"><input type="submit" value="{% trans "Hide" %}" name="HideButton"></div>
        </form>
    {% else %}
        <h3> {% trans "No articles" %} </h3>
    {% endif%}
{% endblock %}
