{% extends "main/backEnd/base.html" %}
{% load i18n %}
{% block title %} {% trans "Blogs" %} {% endblock %}
{% block toparea %}
{% endblock %}

{% block sidebar %}
	<ul>
		<li><a href="/administrator/blogs/blogCreate">{% trans "Create new blog" %}</a></li>
	</ul>
{% endblock %}

{%block content%}
    {% if blogs.count > 0 %}
        <h1> {% trans "Blogs" %} : </h1>
        {% for blog in blogs %}
            <div>
                <h2><a href="/administrator/blogs/get/{{blog.id}}/">{{blog.domain}}</a></h2>
            </div>
            <hr width="60%">
        {% endfor %}
    {% else %}
        <h3> {% trans "No blog" %} </h3>
    {% endif%}
{% endblock %}
