{% extends "main/backEnd/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{article.title}}{% endblock %}

{% block sidebar %}
    <ul>
	    <hr width = 75%>
	    <li><a href="/administrator/blogs/edit/{{blog.user_id}}">{% trans "Edit" %}</a></li>
        <li><a href="/administrator/blogs/del/{{blog.user_id}}">{% trans "Delete" %}</a></li> {% comment %}maybe this process have security bug must be ajax {% endcomment %}
    </ul>
{% endblock %}
{% block content %}
    <h2>{% trans "domain" %}: {{blog.domain}} </h2>
    <p>{% trans "name" %}: {{blog.name}} </p>
    <a href={{ blogAdminUrl }}>{% trans "administrator page" %}</a>
    {% comment %}<h5> User: {{blog.user}} </h5>{% endcomment %}
{% endblock %}

