{% extends "blog/backEnd/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{article.title}}{% endblock %}


{% block sidebar %}
	<ul>
		<li><a href="/administrator/comments/articles/all">{% trans "Comments in articles" %}</a></li>
        <li><a href="/administrator/comments/all">{% trans "All of comments" %}</a></li>
	</ul>
{% endblock %}

{% block content %}

    <h1>{{article.title}} </h1>
    <p> {{article.body|safe}} </p>
    <h5> {% trans "Published date" %}: {{article.pub_date}} </h5>
 {% comment %}   <p id="likesTag">{{article.likes}} poeple liked this article</p>{% endcomment %}


    <hr size =10px >
    {% for commnet in commnets%}
	
	    <p> {% trans "writer" %} : {{ commnet.writer }} </p>
	    <p> {% trans "text" %} : {{ commnet.body}} </p>
	    <p> {% trans "date" %} : {{ commnet.date }} </p>
	    <hr width = 40%>
    {% endfor %}
{% endblock %}

