{% extends "blog/backEnd/base.html" %}
{% comment %} This html file contains create and edit an article {% endcomment %}
{% block sidebar %}
<ul>
	<hr width = 75%>
	{% if method == 'commentCreate' %}
		<li><a href="/administrator/comments/all">Cancel</a></li>
	{% elif method == 'commentEdit' %}
		<li><a href="/administrator/comments/get/{{comment_id}}/">Cancel</a></li>
	{% endif %}
</ul>
{% endblock %}

{% block content %}
{% load static %}

<form method="POST">{% csrf_token %}
	<ul>
		{{form.as_p}}
	</ul>
	<div id="submit"><input type="submit" value="Submit" name="submitComment"></div>
</form>
{% endblock %}
