{% extends "main/backEnd/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{new.title}}{% endblock %}
{% block script %}
<script src="{% static "static/js/article.js" %}"></script>
{% endblock %}
{% block sidebar %}
    <ul>
	    <hr width = 75%>
	    <li><a href="/administrator/news/edit/{{new.id}}">{% trans "Edit" %}</a></li>
        <li><a href="/administrator/news/del/{{new.id}}">{% trans "Delete" %}</a></li> {% comment %}maybe this process have security bug must be ajax {% endcomment %}
    </ul>
{% endblock %}
{% block content %}
    <h1>{{new.title}} </h1>
    <p> {{new.body|safe}} </p>
    <h5> {% trans "Published date" %}: {{new.pub_date}} </h5>
{% endblock %}

