{% extends "main/backEnd/base.html" %}
{% load i18n %}
{% block title %} {% trans "News" %} {% endblock %}
{% block toparea %}
{% endblock %}

{% block sidebar %}
	<ul>
		<li><a href="/administrator/news/newCreate">{% trans "Create new new" %}</a></li>
	</ul>
{% endblock %}

{%block content%}
    {% if news.count > 0 %}
        <h1> {% trans "News" %} : </h1>

        <form method="POST">{% csrf_token %}
            {% for new in news %}
                <div>
                    <h2><a href="/administrator/news/get/{{new.id}}/">{{new.title}}</a></h2><input type="checkbox" name="newIdCheckes" value="{{ new.id }}"/>
                </div>

            {% endfor %}
           <div id="submit"><input type="submit" value={% trans "Delete" %} name="deleteButton"></div>
           <div id="submit"><input type="submit" value={% trans "Hide" %}name="HideButton"></div>
        </form>
    {% else %}
        <h3> {% trans "No new" %} </h3>
    {% endif%}
{% endblock %}
