{% extends "main/backEnd/base.html" %}
{% load i18n %}
{% comment %} This html file contains create and edit an article {% endcomment %}

{% block sidebar %}
<ul>
	<hr width = 75%>
	{% if method == 'newCreate' %}
		<li><a href="/administrator/news/all">{% trans "Cancel" %}</a></li>
	{% elif method == 'newEdit' %}
		<li><a href="/administrator/news/get/{{new_id}}/">{% trans "Cancel" %}</a></li>
	{% endif %}
</ul>
{% endblock %}

{% block content %}
{% load static %}

	<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
	
<form method="POST">{% csrf_token %}
	<ul>
		{{form.as_p}}
	</ul>
	<div id="submit"><input type="submit" value={% trans "Submit" %} name="submitNew"></div>
</form>
{% endblock %}
