{% extends "frontEnd/base.html" %}
{% load i18n %}
{% block title %} {{ category }} {% endblock %}

{% block toparea %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{%block content%}
    <h1> {{ category.title }} </h1>
    {% if articles.count > 0 %}
        <h3> {% trans "Articles" %} : </h3>
        {% for article in articles %}
            <div>
                <hr width = 60% >
                <h4><a href="/articles/get/{{article.slug}}/">{{article.title}}</a></h4>
                </div>
        {% endfor %}
    {% else %}
        <h3> {% trans "No articles" %}</h3>
    {% endif%}
{% endblock %}
