{% load static %}{% comment %}
{% load dajaxice_templatetags %}
{% endcomment %}
<html>
<head>{% comment %}
{% dajaxice_js_import %}{% endcomment %}
<script type="text/javascript">
  function my_js_callback(data){
    alert(data.message);
  }
</script>

  <title>
    {% block title %}Base template {% endblock %}
  </title>
  <link rel="stylesheet" type="text/css" href="{% static "assets/css/base.css" %}">
  <script src="{% static "assets/js/base.js" %}"></script>
	
</head>  
<body>{% comment %}
<button onclick="Dajaxice.article.sayhello(my_js_callback);">The time is?</button>{% endcomment %}
  <div id="page">
    <div id="sidebar">
      {% block sidebar%}
      <ul>
        <li><a href="/articles/all">Articles</a></li>
		<li><a href="/accounts/loggedin">Login</a></li>        
		<li><a href="/admin">Admin</a></li>
      </ul>
      {% endblock %}
    </div>
    
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    
  </div>
</body>
</html>

