{% load analytical %}
{% load i18n %}
{% load static %}
{% comment %}{% load dajaxice_templatetags %}{% endcomment %}

<html>
{% language 'fa' %}
<head>

   {% analytical_head_top %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54136830-1', 'auto');
  ga('send', 'pageview');

</script>
    <title>
    {% block title %}Base template !{% endblock %}
  </title>

  <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
  <link href="{% static "blogStatic/css/frontEnd/blog.css" %}" rel="stylesheet">
  <script src="{% static "blogStatic/js/frontEnd/base.js" %}"></script>
  {% block script %}
  {% endblock %}

 {% comment %} {% dajaxice_js_import %}{% endcomment %}
        {% analytical_head_bottom %}

</head>  
<body>
        {% analytical_body_top %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">{{ log }}</h1>
           <!--<img src="{% static "assets/images/test.png" %}" id="logo" >-->
            {% block toparea%}{% endblock %}
        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="list-group">
                <a class="list-group-item" href="/home">{% trans "Home" %}</a>
                <a class="list-group-item" href="/articles/all">{% trans "Articles" %}</a>
                <a class="list-group-item" href="/categories/all">{% trans "Categories" %}</a>
                <a class="list-group-item" href="/administrator">{% trans "Administrator page" %}</a>
                <a class="list-group-item" href="/search">{% trans "Search" %}</a>
            </div>
        </div>

      {% block sidebar%}
      {% endblock %}

    <div class="col-sm-8 blog-main">

      {% block content %}{% endblock %}
    <hr>
    </div>
    </div>


        {% analytical_body_bottom %}

</body>
{% endlanguage %}
</html>

