{% extends "backEnd/base.html" %}
{% block title %} Articles {% endblock %}
{% block toparea %}
{% endblock %}

{% block sidebar %}
	<ul>
		<li><a href="/administrator/articles/articleCreate">Create new Article</a></li>
	</ul>
{% endblock %}

{%block content%}
    {% if articles.count > 0 %}
        <h1> Articles : </h1>

	<div id="cform">
        {{comment_form.as_p}}
    </div>
        <form method="POST">{% csrf_token %}
            {% for article in articles %}
                <div>
                    <h2><a href="/administrator/articles/get/{{article.id}}/">{{article.title}}</a></h2><input type="checkbox" name="articleIdCheckes" value="{{ article.id }}"/>
                </div>

            {% endfor %}
           <div id="submit"><input type="submit" value="Delete checked" name="deleteButton"></div>
           <div id="submit"><input type="submit" value="Hide checked" name="HideButton"></div>
        </form>
    {% else %}
        <h3> No articles </h3>
    {% endif%}
{% endblock %}
