{% extends "base.html" %}
{% load static %}
{% block title %}{{article.title}}{% endblock %}
{% block script %}
<script src="{% static "static/js/article.js" %}"></script>
{% endblock %}
{% block content %}

<h1>{{article.title}} </h1>
<p> {{article.body|safe}} </p>
<p id="likesTag">{{article.likes}} poeple liked this article</p> 

<input type="button" onclick="Dajaxice.article.likeJax(my_callback, {'data1': {{article.id}} } )" value="LIKE!!">

<hr size =10px >
{% for commnet in commnets%}
	
	<p> writer : {{ commnet.writer }} </p>
	<p> text : {{ commnet.body}} </p>
	<p> date : {{ commnet.date }} </p>
	<hr width = 40%>
{% endfor %}

<form method="POST">{% csrf_token %}
    <div id="cform">
            {{comment_form.as_p}}
    </div>
    <div id="submit"><input type="submit" value="Submit" name="commentButton"></div>
</form>
{% endblock %}

