{% load static %}
{% load dajaxice_templatetags %}

<html>
<head>

  <title>
    {% block title %}Base template !{% endblock %}
  </title>

  <link rel="stylesheet" type="text/css" href="{% static "blogStatic/css/frontEnd/base.css" %}">
  <script src="{% static "blogStatic/js/base.js" %}"></script>
  {% block script %}
  {% endblock %}

  {% dajaxice_js_import %}

</head>
<body>
  <div id="page">
  <div id="toparea">
    <!--<img src="{% static "assets/images/test.png" %}" id="logo" >-->
    {% block toparea%}{% endblock %}
   </div>
    <div id="sidebar">
      <ul>
      	<li><a href="/home">Home</a></li>
        <li><a href="/articles/all">Articles</a></li>
        <li><a href="/categories/all">Categories</a></li>
		<li><a href="/administrator">Administrator</a></li>
		<li><a href="/admin">Admin</a></li>
		<li><a href="/search">Search</a></li>
      </ul>
      {% block sidebar%}
      {% endblock %}
    </div>

    <div id="content">
      <h1>{{ log }}</h1>
      {% block content %}{% endblock %}
    </div>

  </div>
</body>
</html>

