{% extends "blog/backEnd/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{category.title}}{% endblock %}
{% block script %}
<script src="{% static "static/js/article.js" %}"></script>
{% endblock %}
{% block sidebar %}
    <ul>
	    <hr width = 75%>
	    <li><a href="/administrator/categories/edit/{{category.id}}">{% trans "Edit" %}</a></li>
        <li><a href="/administrator/categories/del/{{category.id}}">{% trans "Delete" %}</a></li> {% comment %}maybe this process have security bug must be ajax {% endcomment %}
    </ul>
{% endblock %}
{%block content%}
    <h1> {{ category.title }} </h1>
    {% if articles.count > 0 %}
         <hr width = 60% >
        <h3> {% trans "Articles" %} : </h3>
        {% for article in articles %}
            <div>
                <h4><a href="/administrator/articles/get/{{article.id}}/">{{article.title}}</a></h4>
                </div>
        {% endfor %}
    {% else %}
        <h3>{% trans "No articles" %}</h3>
    {% endif%}
{% endblock %}

