{% extends "main/frontEnd/base.html" %}
{% load i18n %}

{% block content %}


{% if match %}
    {{ match }}
{% endif %}

{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
{% endif %}

<form method="post" action=".">
  {% csrf_token %} 
    {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %} ? <a href="{% url 'reset_password' %}">{% trans "Reset it" %}</a> !</p>
<p>{% trans "Not member" %} ? <a href="{% url 'account_register' %}">{% trans "Register" %}</a> !</p>
{% endblock %}
