{% extends "main/backEnd/base.html" %}
{% load static %}
{% block title %}{{news.title}}{% endblock %}
{% block script %}
<script src="{% static "static/js/article.js" %}"></script>
{% endblock %}
{% block sidebar %}
    <ul>
	    <hr width = 75%>
	    <li><a href="/administrator/newses/edit/{{news.id}}">Edit</a></li>
        <li><a href="/administrator/newses/del/{{news.id}}">Delete</a></li> {% comment %}maybe this process have security bug must be ajax {% endcomment %}
    </ul>
{% endblock %}
{% block content %}
    <h1>{{news.title}} </h1>
    <p> {{news.body|safe}} </p>
    <h5> Published date: {{news.pub_date}} </h5>
{% endblock %}

