{% extends "main/frontEnd/base.html" %}
{% block title %} Newses {% endblock %}
{% block toparea %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{%block content%}
{% if newses.count > 0 %}
{% for news in newses %}
<div>
   {% if not news.hide %}
    <hr width = 60% >
    <h2><a href="/newses/get/{{news.id}}/">{{news.title}}</a></h2>
    <p>{{ news.body|removetags:"b strong h1 h2 h3 h4"|truncatewords_html:3|safe }}</p> <!-- safe > for html render , truncatewords_html > convert to summary  -->
   {% endif %}
</div>
{% endfor %}
{% else %}
<h1> No news </h1>
{% endif%}
{% endblock %}
